.gallery-item {
	cursor: pointer;
	transition: all 0.3s ease;
}

.gallery-item:hover {
	box-shadow: 6px 6px 6px 2px rgba(67, 89, 113, 0.219) !important;
}

.gallery-item .gallery-item-image {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.gallery-item .gallery-item-overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.432);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	border-radius: 0.25rem;
	opacity: 0;
	visibility: hidden;

	transition: 0.3s ease opacity, visibility;
}

.gallery-item .gallery-item-title {
	color: #fff;
}

/* .gallery-item:hover .gallery-item-overlay {
    opacity: 1;
    visibility: visible;
} */
